<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <!-- Main content goes here -->
    <div class="navbar">
      <button class="navbar-button" (click)="onCancel()">Js Array</button>
      <button class="navbar-button" (click)="onArray()">Js String</button>
      <button class="navbar-button" (click)="onPipe()">Pipe</button>
      <button class="navbar-button" (click)="onData()">Data Binding</button>
      <button class="navbar-button" (click)="onDirective()">
        Structural Directive
      </button>
      <button class="navbar-button" (click)="onTemplate()">
        Template Driven Form
      </button>
      <button class="navbar-button" (click)="onReactive()">
        Reactive Form
      </button>
      <button class="navbar-button" (click)="onParent()">Parent Page</button>
      <button class="navbar-button" (click)="onChild()">Child Page</button>
      <button class="navbar-button" (click)="onHttp()">HTTP Requests</button>
      <button class="navbar-button" (click)="onModal()">
        Database modal practice
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
