<!-- <div *ngIf="isHomePage()">
  This is a basic project created by me, where practically most important
  Angular Features have been covered
  <div class="chocolate-bar-container">
    <img
      src="cadbury-chocolate-bar.png"
      alt="Cadbury Chocolate Bar"
      class="chocolate-bar"
      id="chocolate-bar"
    />
  </div>
</div> -->

<div class="hero-container">
  <div class="content">
    <h1>Angular Features Showcase</h1>
    <p>
      This project demonstrates key features of Angular including Change
      Detection, Dependency Injection, Routing, and more.
    </p>
    <button class="btn-primary" (click)="triggerFunAnimation()">
      Celebrate with Flowers!
    </button>
  </div>

  <!-- Flower and Wrapper Animation Container -->
  <div class="flower-animation-container" id="flowerAnimationContainer">
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
  </div>
</div>
